
.header {
    font-family: 'Tourney', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #000000;
  }
.SubHeader {
    position: relative;
    font-family:"Montagu Slab", serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #f7b885;
  }
.MenuTitles {
    font-family: "Manuale", serif;
    font-weight: 500;
    font-size: 2rem;
    color: #000000;
  }